# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE/editor folders
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and databases
*.log
*.sqlite3

# MacOS files
.DS_Store

# Python coverage reports
.coverage
htmlcov/
.coverage.*

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# pipenv
Pipfile.lock

# pyenv
.python-version

# dotenv
.env

# matplotlib cache
.cache/matplotlib
